/*Author: God Bennett */
/* Desktops and laptops ----------- */
@font-face 
{
	font-family : Segoe;
	src : url(data/fonts/segoe.ttf);
}
.MediumSegoeFontFace
{	
	font-family : Segoe;
	font-size :14px;
	padding-top: -420px;
}
.LargeSegoeFontFace
{	
	font-family : Segoe;
	font-size :44px;
}

.testclass
{	
	background-color :blue;
}